body {
    background-image: url("/img/wallsketchcube.gif");
    background-size: 50%;
    text-align:center;
    padding-top: 150px;
    padding-bottom: 150px;
}

img {
    margin-bottom: 100px;
}

a {
    font-family: courier;
    text-decoration: none;
    color: yellow;
}

a:hover {
    color: red;
}

.game {
    color: white;
}

.game a {
    font-family: ariel;
    color: white;
}

#vip, #vip a {
    color: red;
}
