body {
    background-image: url("/img/background.png");
    background-size: cover;
    padding: 150px;
    text-align:center;
    font-family: courier;
    color: white;
}

img {
    margin-bottom: 100px;
}

a {
    text-decoration: none;
}

a:hover {
    color: gray;
}

a:visited {
    color: white;
}
