html {
    /* for absolute and relative positioned children */
    position: relative;

    height: auto;
    min-height: 100%;
    width: 100%;

    margin: 0;
}

body {
    height: 100%;
    width: 100%;

    margin: 0;
    padding: 50px 0;
    
    /* background-image set via javascript */
    background: gray;
    background-size: cover;

    text-align: center;
    font-size: 2em;
    color: white;
}

a {
    color: white;    
}

li a {
    text-decoration: none;
}

a:visited {
    color: white;    
}

a:hover {
   color: red;
}

button {
    cursor: pointer;

    margin: 0 50px;
    margin-bottom: 50px;

    width: 60%;
    max-width: 600px;
    height: 200px;

    border: none;
    -webkit-border-radius: 10px;

    /* box-shadow */
    -webkit-box-shadow: 
        0px 7px black,
        1px 8px 4px black,
        -1px 8px 4px black;

    /* standard animation durations */
    -webkit-transition: -webkit-transform .2s ease-in-out,
                        -webkit-box-shadow .1s ease-in-out;
    
    background: gray; /* backup */

    /* background-image set by javascript */
} 

button:active {
    /* press button down */ 
    -webkit-transform: translate(0, 5px);

    /* new box shadow */
    -webkit-box-shadow: 
        0px 2px black,
        1px 4px 4px black,
        -1px 4px 4px black;
}

button div {
    height: 100%;
    max-height: 125px;
    background-size: contain;
}

#button1 div {
    background: url("/img/baseball.png") center no-repeat;
}

#button1:active div, #button1:hover div {
    background-image: url("/img/baseball_active.png");
}

#button2 div {
    background: url("/img/puck.png") center no-repeat;
}
#button2:active div, #button2:hover div {
    background-image: url("/img/puck_active.png");
}

#button3 div {
    background: url("/img/football.png") center no-repeat;
}
#button3:active div, #button3:hover div {
    background-image: url("/img/football_active.png");
}

#button4 div {
    background: url("/img/basketball.png") center no-repeat;
}
#button4:active div, #button4:hover div {
    background-image: url("/img/basketball_active.png");
}

ul {
    list-style-type: none;
    display: inline-block;
    padding: 0px;
}

ul li {
    margin-bottom: 50px;

    background: rgba(0, 0, 0, .85);

    border: 2px solid white;
    border-radius: 5px;
}

ul li a {
    /* it will take up whole li */
    display: block;
    padding: 25px;
}


.chicago {
    /* overrides standard white border */
    border: 2px solid red;
}

#invisible_close_button {
    top: 0;
    position: fixed;

    width: 100%;
    height: 100%;

    background: none;

    /* must be pushed behind ul */
    z-index: -1;
}

#container {
    position: absolute;
    top: 0;

    width: 100%;
    height: 100%;

    background: rgba(0,0,0,.5);
    background-size: contain;

    box-sizing: border-box;
    overflow-y: scroll;

    padding-top: 50px;
    padding-bottom: 50px;

    transition: opacity .2s linear;

    /* pushed to front */
    z-index: 100;
}
