body {
    margin: 0;
    padding: 0;

    text-align: center;
    background-color: gray;
    /* yikes... gradients... */

    background: -webkit-linear-gradient(left top, red , blue); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(bottom right, red, blue); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(bottom right, red, blue); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to bottom right, red , blue); /* Standard syntax */
}

a {
    text-decoration: none;
}

button {
    border: none;
    background-color: gray;
    background-size: 100% 100%;
    display: inline-block;
    max-width: 600px;
    width:90%;
    height:19%;
    margin-top:5%;
    -webkit-border-radius: 10px;
    -webkit-transition: -webkit-transform .2s ease-in-out,
                        -webkit-box-shadow .1s ease-in-out;

    font-family: Courier;
    font-size: 50px;
    /*text-transform: uppercase;*/
} 

button:active {
    -webkit-transform: translate(0, 5px); /* depth of button press */
}

button:hover {
    font-weight: bold;
    text-shadow: 0px 1px white;
    cursor: pointer;
}


button.hawks {
    background-image: url("/img/button_images/4.jpg");
    -webkit-box-shadow: 
        0px 2px #C8102E,
        0px 3px #FFFFFF,
        0px 4px #2C2A29, 
        0px 5px #FFFFFF,
        0px 7px #C8102E,
        1px 9px 5px rgba(0,0,0,1),
        -1px 9px 5px rgba(0,0,0,1);
}

button.hawks:active {
    -webkit-box-shadow: 
        0px 2px #C8102E,
        0px 4px 4px black;
}

button.bears {
    background-image: url("/img/button_images/5.jpg");
    -webkit-box-shadow: 
        0px 1px #03202F,
        0px 2px #DD4814, 
        0px 3px #03202F,
        0px 4px #DD4814, 
        0px 5px #03202F,
        0px 6px #DD4814, 
        0px 7px #03202F,
        1px 8px 5px black,
        -1px 8px 5px black;
}

button.bears:active {
    -webkit-box-shadow: 
        0px 1px #03202F,
        0px 2px #DD4814, 
        0px 4px 4px black;
}

button.soxcubs {
    background-image: url("/img/button_images/7.jpg");
    -webkit-box-shadow: 
        0px 1px #000000,
        0px 2px #FFFFFF,
        0px 3px #000000,
        0px 4px #FFFFFF,
        0px 5px #000000,
        0px 6px #FFFFFF,
        0px 7px #000000,
        1px 8px 5px black,
        -1px 8px 5px black;
}

button.soxcubs:active {
    -webkit-box-shadow: 
        0px 1px #000000,
        0px 2px #FFFFFF,
        0px 4px 4px black;
}

button.bulls {
    background-image: url("/img/button_images/6.jpg");
    -webkit-box-shadow: 
        0px 1px #FFFFFF,
        0px 3px #000000,
        0px 4px #D4001F,
        0px 6px #000000,
        0px 7px #FFFFFF,
        1px 8px 5px black,
        -1px 8px 5px black;
}

button.bulls:active {
    -webkit-box-shadow: 
        0px 1px #FFFFFF,
        0px 2px #000000,
        0px 4px 4px black;
}

#mlb_container, #nhl_container, #nfl_container, #nba_container {

    display: inline-block;


    width: 90%;
    max-width: 600px;
    color: white;
    background-image: url("/img/background_images/2.jpg");
    background-size: cover;
}

#mlb_container div, #nhl_container div, #nfl_container div, #nba_container div {
    text-align: left;
}


